<!DOCTYPE html>
{% load static %}

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title%} {% endblock %}Home</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
        <link href='{% static "default.css" %}' rel="stylesheet">
        
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
            <h1>Demo Website</h1>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'index' %}">Demo App</a>
                    </div>

                    <ul class='nav navbar-nav'>
                        <li class={% if page == 'home' %}"active"{% else %}{% endif %}><a href="{% url 'index' %}">Home</a></li>
                        <li class={% if page == 'about' %}"active"{% else %}{% endif %}><a href="{% url 'about' %}">About</a></li>
                        <li class={% if page == 'contact' %}"active"{% else %}{% endif %}><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>